html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: DarkSlateGray;
  font-size: 25px;
}

td {
  height: 50px;
  width: 50px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15) inset;
  text-align: center;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: ghostwhite;
}

button {
  margin-top: 30px;
  padding: 15px;
  background-color: grey;
  color: honeydew;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  background-color: Gainsboro;
  color: grey;
}

.tw {
  background-color: coral;
}

.dw {
  background-color: lightsalmon;
}

.dl {
  background-color: paleturquoise;
}

.tl {
  background-color: turquoise;
}

.start{
  background-color: palegreen;
}

#player-tiles {
  margin: 50px auto;
  height: 56px;
  width: 468px;
  display: flex;
  background: ghostwhite;
  justify-content: flex-start;
  float: left;
  border-radius: 5px;
}

.tile {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background-color: snow;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.05);
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 200;
  color: SlateGray;
  float: left;
  margin: 4px;
  display: grid;
  grid-template-rows: 12px 22px auto;
  grid-template-columns: 12px auto 12px;
  grid-gap: 0px;
  padding: 0;
}

.tile p {
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 22px;
}

.tile sub {
  font-size: 10px;
  letter-spacing: -1px;
  grid-area: 3 / 3 / 4 / 4;
  padding-left: -1px;
}

td .tile {
  margin: 0;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
}

td span {
  
}

.tdfull {
  background-color: ghostwhite;
}

.tdfull span {
  display: none;
}

