html, body {
/*  height: 100vh;*/
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 50px;
}

td {
  height: 50px;
  width: 50px;
/*  border: 2px solid Gainsboro;*/
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15) inset;
  text-align: center;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

button {
  margin-top: 30px;
  padding: 15px;
  background-color: grey;
  color: honeydew;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  background-color: Gainsboro;
  color: grey;
}

.tw {
  background-color: coral;
}

.dw {
  background-color: lightsalmon;
}

.dl {
  background-color: paleturquoise;
}

.tl {
  background-color: turquoise;
}

.start{
  background-color: palegreen;
}

#player-tiles {
  margin: 50px auto;
}

.tile {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background-color: snow;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15);
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  color: SlateGray;
  float: left;
  margin: 4px;
  padding: 14px;
}

.tile sub {
  font-size: 12px;
  margin: 2px;
}




